{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "only-warn",
    "html"
  ],
  "rules": {
    "arrow-parens": 0,
    "generator-star-spacing": 0
  }
}

